@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #B2CEDE;
}
.information{
    display: flex;
    justify-content: space-between;
    background: #B2CEDE;
}
.info-links{
    display: flex;
}
.info-links i{
    left: 50px;
}
.info-links h3{
    margin: 10px;
}
::selection{
    color: #fff;
    background-color: #B2CEDE;
}
.box{
    position: relative;
    width: 450px;
    height: 550px;
    padding: 30px 50px;
    border-radius: 30px;
    background: #B2CEDE;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),10px 10px 70px rgba(0,0,0,0.25);
}
h2{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #2E2836;
    font-size: 1.75rem;
    margin-bottom: 10px;
}
#inputBx{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),10px 10px 70px rgba(0,0,0,0.25);
}
.box li{
    position: relative;
    display: flex;
    width: calc(100% - 40px);
    background: #1f83f2;
    align-items: center;
    margin: 15px 0;
    padding: 10px 10px 10px 45px;
    min-height: 45px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    /* box-shadow: 25px 25px 75px rgba(0,0,0,0.25),10px 10px 70px rgba(0,0,0,0.25); */
}
.box li i{
    position: absolute;
    width: 30px;
    height: 30px;
    right: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ff2c74;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),10px 10px 70px rgba(0,0,0,0.25);
}
.box li i::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
}
.box li i::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
}
.box li::before{
    content: '';
    position: absolute;
    left: 8px;
    width: 30px;
    height: 30px;
    background: #2f363e;
    border-radius: 50%;
}
.box li.done::after{
    content: '';
    position: absolute;
    width: 12px;
    left: 16px;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(315deg);
}
.box li.done{
    background: #607d8b;
}
#list{
    position: relative;
    margin-top: 20px;
    height: 350px;
    overflow-y: auto;
    padding-right: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),10px 10px 70px rgba(0,0,0,0.25);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #fff;
}
/* Footer Start Section */
.footer__container{
    padding: 3rem 0 7rem;
    text-align: center;
    background: #B2CEDE;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),10px 10px 70px rgba(0,0,0,0.25);
  }
  .footer__social{
    display: flex;
    justify-content: center;
  }
  .footer__social{
    column-gap: 1.25rem;
  }
  .footer__social-link{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .3s;
  }
  .footer__social-link:hover{
    transform: translateY(-.15rem);
    color: #fff;
  }
  .footer__copy{
    display: block;
    margin-top: 4.5rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
  }
  /* Footer End Section */
  
@media (max-width: 600px){
    .box{
        width: 420px;
    }
}
@media (max-width: 400px) {
    .box{
        width: 380px;
    }
}